############################
# OS
############################
.DS_Store

############################
# Strapi / Node
############################
.tmp/
.cache/
build/
dist/
node_modules/
exports/

############################
# Env
############################
.env
.env.local
.env.*.local

############################
# Logs
############################
*.log
npm-debug.log*
